@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');
@import "src/styles/_variables";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: $backgroundgrey;
  color: $navyblue;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

::selection {
  background: $orange;
  color: white; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $orange;
  color: white;/* Gecko Browsers */
}
